<div class="chat chat-sm">
  {% include 'chat/templates' %}

  <div class="container">
    <div class="chat-wrapper js-chat">
      {% include 'chat/sidebar' %}
      {% include 'chat/messages' %}
    </div>
  </div>
</div>
