<div class="chat chat-{{ size }}">
  {% include 'chat/templates' %}

  <div class="chat-wrapper js-chat" {% if height %}data-height="{{ height }}"{% endif %}>
    {% include 'chat/sidebar' %}
    {% include 'chat/messages' %}
  </div>
</div>
