<footer class="page-footer">
  <div class="container">
    <div class=row>
      <div class="col-md-6 text-left info">
        <div class="logo">
          <img src="{{ settings.view.general.footer.logo }}" width="200">
          <div class="social">
            <a href="https://www.linkedin.com/company/exame-com/?originalSubdomain=br"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/exame/?hl=pt-br"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/user/portalexame"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/exame"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Exame"><i class="fab fa-facebook-square"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 company-info">
        <h5>Atendimento</h5>
        <p>Em caso de dúvida fale conosco em</p>
         <p> <a class="mail" href="mailto:atendimento@exame.com">atendimento@exame.com</a></p> 
         <p>(11) 4020-2033</p>
      </div>
    </div>
    <div class="row text-center copyright">
      <p>2020 © Exame. Todos os direitos reservados.</p>
      <span>É Proibida a reprodução do conteúdo desta página em qualquer meio de comunicação, eletrônico ou impresso, sem autorização escrita da Exame.</span>
    </div>
  </div>
</footer>
