<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-6 col-md-offset-1 custom-col">
        <div class="responsive-img header-brand">
          {% include 'school/brand' %}
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-4 custom-col">
        <img src="{{ 'inline-secure-purchase.png' | asset_url }}" alt="Inline Secure Purchage Image" width="160"
          height="21">
      </div>
    </div>
  </div>
</header>

<style>
  #header {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }

  #header a {
    text-decoration: none;
  }

  #header .header-brand {
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  #header .header-brand img {
    height: 100%;
    object-fit: contain;
    object-position: left;
  }

  .custom-col {
    display: flex;
    align-items: center;
    height: 55px;
  }

  .responsive-img {
    width: 180px;
  }

  .responsive-img img {
    width: 100%;
    height: auto;
  }

  .custom-col:last-child {
    justify-content: flex-end;
  }

  @media only screen and (max-width: 420px) {
    .responsive-img {
      width: 160px;
    }
  }

  @media only screen and (max-width: 767px) {
    .container {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
</style>
