<div class="home-newsletter">
  <div class="container newsletter">
    <div class="row newsletter-text">
      <div class="col-md-1 col-sm-2 text-center">
        <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2F48001b53a204ec55ba45656ba4d27706%2FGroup+137.png" alt="">
      </div>
      <div class="col-md-11 col-sm-10 newsletter-text">
        <p>Quero receber conteúdos sobre <strong>cursos, treinamentos e oportunidades</strong> para a minha vida profissional e pessoal.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="form-group">
          <input type="nome" class="form-control input"
                 placeholder="Nome" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="email" class="form-control input"
                 placeholder="E-mail" required>
        </div>
      </div>
      <div class="col-md-4">
        <a type="button" class="btn btn-more" href="#">
          Cadastre-se grátis
      </a>
      </div>
    </div>
  </div>
</div>