<div class="media-controls">
  <button class="btn btn-default js-btn-prev">
    <i class="icon-arrow-left"></i>
    <span>{{ 'lesson.preview' | t }}</span>
  </button>

  <button class="btn btn-default js-btn-next">
    <span>{{ 'lesson.next' | t }}</span>
    <i class="icon-arrow-right"></i>
  </button>
</div>
