<div id="notepad-container" class="notepad">
  <div id="js-notepad-form" class="notepad-form">
    {% form 'notepads', id: notepad_form, remote: false %}
      <h4>{{ 'notepad.my_annotations' | t }}</h4>

      <input type="hidden" id="lesson_id" name="lesson_id" value="{{ current_lesson_id }}">
      <input type="hidden" id="js_note_id" name="note_id" value="">

      <div class="note-container">
        <div id="js-note" class="note" rows="10" cols="80" contenteditable="true" name="note[note]" title=""></div>
      </div>

      <div class="form-buttons clearfix">
        <div class="btn-group pull-right">
          <button id="save_notepad_button" type="submit" class="btn btn-primary"
                  data-sending="<i class='busy busy-xs'></i><span>{{ 'general.sending' | t }}...</span>">
            {{ 'general.save' | t }}
          </button>
        </div>
      </div>
    {% endform %}
  </div>
</div>
