// .webinar-chat-wrapper {
// }

div.deadpool-chat {
  background-color: #fff;
}

.chat-message-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #fff;

  .message-item {
    padding: 15px;
    min-height: 60px;
    height: auto;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    border-radius: 0;

    .message-header {
      max-height: 40px;
      height: 25px;

      h5 {
        overflow: hidden;
        margin: 0;
        width: 75%;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        line-height: normal;
      }

      i {
        font-weight: 500;
        font-size: 16px;
      }

      div.message-timestamp {
        text-align: end;
        font-size: 12px;
      }

      span.message-timestamp {
        width: 20%;
        white-space: nowrap;
        line-height: normal;
      }
    }

    div.message-body {
      p {
        font-size: 14px;
      }
    }
  }
}

div.chat-message-input {
  overflow: auto;
  padding: 0 1rem;
  height: 100px;
  background-color: #fff;

  #message {
    display: flex;
    width: 100%;
    .message-body {
      width: 100%;
    }
    .btn-link {
      color: #9d9d9d;
    }

    .submit-message {
      display: block;
      float: right;
      // width: 30px;
      // height: 30px;
      border-color: #2cc3cc;
      background: #2cc3cc;

      i {
        font-size: 15px;
      }
    }
  }
}
