.video-js .vjs-big-play-button {
  top: 50% !important; // !important because of the load order of the CSS
  left: 50% !important;
  margin-top: -.8em !important;
  margin-left: -1.5em !important;
}

.webinar-player-wrapper {
  padding-bottom: 100px;
}

.webinar-player-wrapper-off {
  padding-top: 180px;
  padding-bottom: 200px;
}

.watching-count {
  float: right;
  padding: 15px 0 0 0;
  font-size: 22px;
  line-height: 1;
}

video {
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
}
