<div class="login-page page-signin-alt page">
  <div class="container page-container">
    <h2 class="title">{{ 'password_request.password_reset' | t }}</h2>
    {% form 'password_request' %}
    {% if form.errors %}
      <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
    {% endif %}

    <div class="form-group">
      <input type="email" name="user[email]" class="form-control input-lg"
             placeholder="{{ 'password_request.email' | t }}" required>
    </div>

    <div class="form-actions">
      <input type="submit" value="{{ 'password_request.reset' | t }}" class="btn btn-primary btn-block btn-lg">
    </div>
    {% endform %}
  </div>
</div>
