{
  "name": "Elegance Theme",
  "description": "Elegance é o tema padrão do Edools. Minimalista e flexível, seu layout atende uma grande variedade de usos. Sua simplicidade oferece uma experiência incrível para os alunos comprarem e consumirem seus cursos.",
  "author": "Mayke Freitas",
  "folder_name": "elegance",
  "development": {
    "url": "http://demo.edools-dev.com:3000",
    "school_id": 1,
    "theme_id": 1,
    "token": "local"
  }
}
