<div class="enrollments-page page">
  <div class="container page-container">
    <div class="courses-list">
      {% paginate courses by 6 sort { name: :asc } %}
      <div class="row">
        <div id="js-course-list">
          {% for course in courses %}
            <div class="col-sm-6 col-md-4 active-enrollments">
              {% assign detail_path = enrollment | course_path:course.id %}
              {% assign detail_label = 'enrollment.go_course' | t %}

              {% include 'course/course-card', detail_path: detail_path, detail_label: detail_label, title: course.name,
                          logo: course.image_url, description: course.description %}
            </div>
          {% endfor %}
        </div>
      </div>

      {% if paginate.next.is_link %}
        <div id="course-more" class="col-xs-12 text-center" data-turbolinks-temporary>
          <a id="js-course-more-link" class="btn btn-default" href="{{ paginate.next.url }}">
            <span class="bold">{{ 'course.load_more' | t }}</span>
          </a>

          <div class="js-paginate-spinner" style="display: none;">
            <i class='busy busy-md'></i>
          </div>
        </div>
      {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>
