{% raw %}
<div class="js-chat-group-list-item chat-group-list-item chat-sidebar-list-item" data-id="{{ id }}" data-type="products">
  <div id="js-chat-group-name">{{ name }}</div>
  <div id="js-chat-group-users-count">{{ users_count }} pessoas</div>
</div>
{% endraw %}
