<script id="js-chat-group-list-item" type="text/ng-template">
  <div id="js-chat-group-item" class="js-chat-group-list-item chat-group-list-item chat-sidebar-list-item">
    <div id="js-chat-group-name" class="name"></div>
    <div id="js-chat-group-users-count" class="users-count"> {{ 'chat.peoples' | t }}</div>
  </div>
</script>
