<div class="chat-messages">
  <div class="messages">
    <div class="header">
      <div class="title">Manipulação Digital</div>
      <div class="users-count">38 pessoas</div>
    </div>
  </div>
  <div class="editor">
    <textarea name="" id="" placeholder="{{ 'chat.type_here' | t }}"></textarea>
    <button class="btn btn-outline-primary btn-sm">{{ 'general.send' | t }}</button>
  </div>
</div>
