<div class="chat-messages js-chat-messages">
  <div class="messages">
    <div class="header">
      <div class="title">Manipulação Digital</div>
      <div class="users-count">38 pessoas</div>
    </div>

    <div class="content js-scroll scroll">
      {% include 'chat/scrollbar' %}
      <div class="viewport">
        <div id="chat-messages" class="overview"></div>
      </div>
    </div>
  </div>
  <div class="editor">
    <form id="send-messages">
      <textarea name="" id="text" placeholder="{{ 'chat.type_here' | t }}"></textarea>
      <button type="submit" class="btn btn-outline-primary btn-sm">{{ 'general.send' | t }}</button>
    </form>
  </div>
</div>
