<div class="chat-sidebar">
  <div class="js-sidebar-scroll scroll scrollbar-inner">
    <div class="sidebar-blocks">
      <div class="sidebar-block groups-block">
        <div class="separator">{{ 'chat.groups' | t }}</div>
        <div class="js-groups"></div>
      </div>

      <div class="sidebar-block team-block">
        <div class="separator">{{ 'chat.teams' | t }}</div>
        <div class="js-team"></div>
      </div>

      <div class="sidebar-block students-block">
        <div class="separator">
          <span>{{ 'chat.students' | t }}</span>
          <button class="btn btn-outline-default btn-sm">{{ 'chat.follow_student' | t }}</button>
        </div>
        <div class="js-students"></div>
      </div>
    </div>
  </div>
</div>
