<div class="chat-sidebar">
  <div class="sidebar-header">
    {% include 'chat/profile-list-item',
    avatar: 'http://artist1.cdn107.com/b28/b283cf32d1bc4532a8a721974efb1b85_lg.jpg',
    name: 'Bruno Mars',
    location: 'Rio de Janeiro / RJ' %}
  </div>

  <div class="sidebar-blocks">
    <div class="sidebar-block groups-block">
      <div class="separator">{{ 'chat.groups' | t }}</div>
      <div class="js-groups js-sidebar-scroll scroll">
        {% include 'chat/scrollbar' %}
        <div class="viewport">
          <div class="overview">
            {% include 'chat/group-list-item', name: 'Redonline Escola de Formação em Artes Digitais', users_count: 128 %}
            {% include 'chat/group-list-item', name: 'Manipulação Digital', users_count: 38 %}
            {% include 'chat/group-list-item', name: '3D Completo', users_count: 95 %}
            {% include 'chat/group-list-item', name: 'Redonline Escola de Formação em Artes Digitais', users_count: 128 %}
            {% include 'chat/group-list-item', name: 'Manipulação Digital', users_count: 38 %}
            {% include 'chat/group-list-item', name: '3D Completo', users_count: 95 %}
            {% include 'chat/group-list-item', name: 'Redonline Escola de Formação em Artes Digitais', users_count: 128 %}
            {% include 'chat/group-list-item', name: 'Manipulação Digital', users_count: 38 %}
            {% include 'chat/group-list-item', name: '3D Completo', users_count: 95 %}
            {% include 'chat/group-list-item', name: 'Redonline Escola de Formação em Artes Digitais', users_count: 128 %}
            {% include 'chat/group-list-item', name: 'Manipulação Digital', users_count: 38 %}
            {% include 'chat/group-list-item', name: '3D Completo', users_count: 95 %}
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-block students-block">
      <div class="separator">
        <span>{{ 'chat.students' | t }}</span>
        <button class="btn btn-outline-default btn-sm">{{ 'chat.follow_student' | t }}</button>
      </div>
      <div class="js-groups js-sidebar-scroll scroll">
        {% include 'chat/scrollbar' %}
        <div class="viewport">
          <div class="overview">
            {% include 'chat/profile-list-item',
            avatar: 'https://pbs.twimg.com/profile_images/3437133571/74455f033fa672f65ac5425d71567b02_400x400.jpeg',
            name: 'Johnny Depp',
            location: 'São Paulo / SP',
            status: 'online',
            last_seen: '30 min' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE5NDg0MDU1MDE2MDgwOTEx/angelina-jolie-9356782-1-402.jpg',
            name: 'Angelina Jolie',
            location: 'Niterói / RJ',
            status: 'away',
            last_seen: 'Dom' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://s-media-cache-ak0.pinimg.com/736x/7b/c7/0d/7bc70d641a5b7986739ed2c768449e65.jpg',
            name: 'Jason Mraz',
            location: 'Nova Friburgo / RJ',
            status: 'offline',
            last_seen: 'Seg' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://pbs.twimg.com/profile_images/3437133571/74455f033fa672f65ac5425d71567b02_400x400.jpeg',
            name: 'Johnny Depp',
            location: 'São Paulo / SP',
            status: 'online',
            last_seen: '30 min' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE5NDg0MDU1MDE2MDgwOTEx/angelina-jolie-9356782-1-402.jpg',
            name: 'Angelina Jolie',
            location: 'Niterói / RJ',
            status: 'away',
            last_seen: 'Dom' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://s-media-cache-ak0.pinimg.com/736x/7b/c7/0d/7bc70d641a5b7986739ed2c768449e65.jpg',
            name: 'Jason Mraz',
            location: 'Nova Friburgo / RJ',
            status: 'offline',
            last_seen: 'Seg' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://pbs.twimg.com/profile_images/3437133571/74455f033fa672f65ac5425d71567b02_400x400.jpeg',
            name: 'Johnny Depp',
            location: 'São Paulo / SP',
            status: 'online',
            last_seen: '30 min' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE5NDg0MDU1MDE2MDgwOTEx/angelina-jolie-9356782-1-402.jpg',
            name: 'Angelina Jolie',
            location: 'Niterói / RJ',
            status: 'away',
            last_seen: 'Dom' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://s-media-cache-ak0.pinimg.com/736x/7b/c7/0d/7bc70d641a5b7986739ed2c768449e65.jpg',
            name: 'Jason Mraz',
            location: 'Nova Friburgo / RJ',
            status: 'offline',
            last_seen: 'Seg' %}

          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-block team-block">
      <div class="separator">{{ 'chat.team' | t }}</div>
      <div class="js-groups js-sidebar-scroll scroll">
        {% include 'chat/scrollbar' %}
        <div class="viewport">
          <div class="overview">
            {% include 'chat/profile-list-item',
            avatar: 'https://pbs.twimg.com/profile_images/3437133571/74455f033fa672f65ac5425d71567b02_400x400.jpeg',
            name: 'Johnny Depp',
            location: 'São Paulo / SP',
            status: 'online',
            last_seen: '30 min' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE5NDg0MDU1MDE2MDgwOTEx/angelina-jolie-9356782-1-402.jpg',
            name: 'Angelina Jolie',
            location: 'Niterói / RJ',
            status: 'away',
            last_seen: 'Dom' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://s-media-cache-ak0.pinimg.com/736x/7b/c7/0d/7bc70d641a5b7986739ed2c768449e65.jpg',
            name: 'Jason Mraz',
            location: 'Nova Friburgo / RJ',
            status: 'offline',
            last_seen: 'Seg' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://pbs.twimg.com/profile_images/3437133571/74455f033fa672f65ac5425d71567b02_400x400.jpeg',
            name: 'Johnny Depp',
            location: 'São Paulo / SP',
            status: 'online',
            last_seen: '30 min' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE5NDg0MDU1MDE2MDgwOTEx/angelina-jolie-9356782-1-402.jpg',
            name: 'Angelina Jolie',
            location: 'Niterói / RJ',
            status: 'away',
            last_seen: 'Dom' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://s-media-cache-ak0.pinimg.com/736x/7b/c7/0d/7bc70d641a5b7986739ed2c768449e65.jpg',
            name: 'Jason Mraz',
            location: 'Nova Friburgo / RJ',
            status: 'offline',
            last_seen: 'Seg' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://pbs.twimg.com/profile_images/3437133571/74455f033fa672f65ac5425d71567b02_400x400.jpeg',
            name: 'Johnny Depp',
            location: 'São Paulo / SP',
            status: 'online',
            last_seen: '30 min' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://www.biography.com/.image/c_fill%2Ccs_srgb%2Cg_face%2Ch_300%2Cq_80%2Cw_300/MTE5NDg0MDU1MDE2MDgwOTEx/angelina-jolie-9356782-1-402.jpg',
            name: 'Angelina Jolie',
            location: 'Niterói / RJ',
            status: 'away',
            last_seen: 'Dom' %}

            {% include 'chat/profile-list-item',
            avatar: 'https://s-media-cache-ak0.pinimg.com/736x/7b/c7/0d/7bc70d641a5b7986739ed2c768449e65.jpg',
            name: 'Jason Mraz',
            location: 'Nova Friburgo / RJ',
            status: 'offline',
            last_seen: 'Seg' %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
