<div class="page terms-of-use-page">
  <div class="container page-container">
    <h2 class="title">{{ 'terms_of_use.title' | t }}</h2>

    <div class="content">
      {{ current_school.terms_of_use }}
    </div>
  </div>
</div>
