{% if size == 'normal' %}
  {% assign star_width  = '33px'; %}
  {% assign star_height = '30px'; %}
{% endif %}

{% if size == 'small' %}
  {% assign star_width  = '19px'; %}
  {% assign star_height = '16px'; %}
{% endif %}

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="{{star_width}}" height="{{star_height}}" viewBox="0 0 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <title>estrela grande - metade</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="28.4999332 0 37.3058919 17.7756792 57 20.6260212 42.7499666 34.4624025 46.1129194 54 28.4999332 44.7757458 10.8858782 54 14.2500334 34.4624025 0 20.6260212 19.6929057 17.7756792"></polygon>
    </defs>
    <g id="Avaliação" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="estrela-grande---metade">
            <g id="Rectangle">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <use id="Mask" fill="#FFF4CE" fill-rule="nonzero" xlink:href="#path-1"></use>
                <rect fill="#FAC917" mask="url(#mask-2)" x="-40" y="-40" width="68" height="157"></rect>
            </g>
        </g>
    </g>
</svg>
