.school-forums-page {
  .search-form {
    margin: 50px 0;
  }

  .forums-table {
    .forum-item {
      > td {
        vertical-align: middle;
      }

      .info {
        .title {
          display: inline-block;
          font-weight: 600;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .product {
          display: inline-block;
          margin-top: 20px;

          .badge {
            white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

            margin-top: -3px;
            max-width: 250px;
            border-radius: $border-radius-small;
            background-color: lighten($text-color, 25%);
            text-transform: lowercase;
            font-weight: 600;
            font-size: $font-size-small - 2;
          }
        }
      }

      .sections-count {
        @include breakpoint(sm) {
          display: block;
        }

        display: none;
        padding: 28px 0;
        text-align: center;
      }
    }
  }
}
