.new-message-page {
  form {
    input,
    select {
      max-width: 512px;
    }
  }

  .actions {
    display: flex;

    justify-content: flex-end;
    align-items: flex-start;

    .js-recaptcha {
      margin-right: 15px;
    }
  }
}
