<div id="product-{{ product.id }}">
  <div class="">
    <div class="product-image">
      {% if product.logo %}
      {% image, src: product.logo, alt: product.title %}
      {% else %}
      {% assign placeholder = 'missing-product-logo.png' | asset_url %}
      {% image, src: placeholder, alt: product.title %}
      {% endif %}

      <span> {{ product.title }} </span>
    </div>
  </div>
</div>

<style>
  .product-image {
    position: relative;
  }

  .product-image img {
    width: 100%;
    height: auto;
    filter: brightness(70%);
  }

  .product-image span {
    position: absolute;
    top: 110px;
    left: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 123%;
  }
</style>
