<p><%= I18n.t("mailer.hello", first_name: @to.first_name) %></p>
<p><%= I18n.t("mailer.proteus_reports.first_paragraph") %></p>
<p><%= I18n.t("mailer.proteus_reports.second_paragraph") %></p>
<p><%= link_to @link, @link %></p>
