.appModalDesktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  transition: 300ms ease-in-out;

  &.is_active {
    visibility: visible;
    opacity: 1;
  }
}

.appModalDesktop_background {
  display: block;
  width: 100%;
  height: 100%;
}

.appModalDesktop_container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  max-width: 700px;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  transform: translate(-50%, -50%);

  align-items: stretch;
}

.appModalDesktop_button-close {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 2;
  border: none;
  background-color: transparent;
  cursor: pointer;

  .appModalDesktop_button-close-icon {
    height: 12px;
  }
}

.appModalDesktop_illustration {
  display: flex;
  width: 37.85%;

  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.appModalDesktop_info {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px 30px;
  width: 62.15%;

  align-items: center;
}

.appModalDesktop_info-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.appModalDesktop_info-links {
  display: flex;
  margin-top: 40px;
  max-width: 292px;
  width: 100%;

  align-items: center;
  justify-content: space-between;

  a.appModalDesktop_info-links--button {
    padding: 0 !important;
    max-width: 142px;
    width: 100%;
    transition: 220ms ease-in-out;

    &:hover {
      opacity: .85;
    }
  }
}

.appModalDesktop_info-qrcode {
  margin-top: 30px;
}

.appModalDesktop_info-text {
  margin-top: 15px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

/* navbar.liquid */

.appModalDesktop_button-open {
  display: flex;
  padding: 4px 10px;
  height: 32px;
  border: 1px solid $brand-primary;
  border-radius: 16px;
  background-color: white;
  color: $brand-primary;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  transition: 250ms ease-in-out;

  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $brand-primary;
    color: white;
  }
}

@media(min-width: 992px) {
  .appModalDesktop_button-nav {
    height: 100%;

    a {
      padding-top: 24px !important;
      padding-bottom: 24px !important;
    }
  }
}

/* mobile version */

.appModalMobile {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 120;
  display: none;
  padding: 10px 23px;
  width: 100%;
  border: 1px solid transparent;
  border-top: 1px solid $gray-100;
  border-radius: 4px 4px 0 0;
  background-color: white;

  align-items: center;
  justify-content: space-between;
}

.appModalMobile-info {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.appModalMobile-logo {
  display: flex;
  width: 65px;
  height: 65px;
  border-radius: 32.5px;
  background-color: $gray-900;

  align-items: center;
  justify-content: center;
}

.appModalMobile-company {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  align-items: start;
}

.appModalMobile-company--title {
  margin-bottom: 5px;
  color: $hero;
  font-weight: 700;
  font-size: 16px;
}

.appModalMobile-company--text {
  color: $gray-600;
  font-weight: 300;
  font-size: 12px;
}

.appModalMobile-buttons {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.appModalMobile-buttons--download {
  margin-bottom: 5px;
  padding: 4px 14px;
  border-radius: 2px;
  background-color: $brand-primary;
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.appModalMobile-buttons--close {
  border: none;
  background-color: transparent;
  color: $gray-600;
  text-decoration: underline;
  font-weight: 300;
  font-size: 12px;
}

@media(max-width: 992px) {
  #header-menu {
    .appModalDesktop_button-nav {
      display: none;
    }
  }

  .appModalMobile {
    &.is_active {
      display: flex;
    }
  }
}
