//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  margin-bottom: $line-height-computed;
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  border-radius: $border-radius-base;
  background-color: $breadcrumb-bg;
  list-style: none;

  > li {
    display: inline-block;

    + li:before {
      padding: 0 5px;
      color: $breadcrumb-color;
      content: '#{$breadcrumb-separator}\00a0'; // Unicode space added since inline-block means non-collapsing white-space
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
