@mixin loader-rotate {
  @keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin loader04(
  $size: 56px,
  $color: #0052ec,
  $border-size: 8px,
  $duration: 1s,
  $align: null
) {
  $dot: round($size - (0.82 * $size));
  width: $size;
  height: $size;
  border: $border-size solid rgba($color, 0.5);
  border-radius: 50%;
  position: relative;
  animation: loader-rotate $duration ease-in-out infinite;

  &::after {
    content: '';
    width: $dot;
    height: $dot;
    border-radius: 50%;
    background: $color;
    position: absolute;
    top: -$border-size - math.div($dot, 2) + math.div($border-size, 2);
    left: 50%;
    margin-left: math.div(-$dot, 2);
  }

  @if ($align == center) {
    margin: 0 auto;
  }
  @if ($align == middle) {
    top: 50%;
    margin: math.div(-$size, 2) auto 0;
  }
  @include loader-rotate;
}


.loader {
  @include user-select(none);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: $loader-bg;
  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: math.div(-$loader-size, 2);
    margin-left: math.div(-$loader-size, 2);
  }
}

.spinner {
  width: $loader-size;
  height: $loader-size;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  .path {
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;

    stroke-dasharray: 1, 150;
    /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: $loader-color;
    stroke-linecap: round;
  }
  @keyframes rotate {
    100% {
      @include rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      /* 1%, 101% circumference */
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      /* 70%, 101% circumference */
      stroke-dashoffset: -35;
    }
    /* 25% circumference */
    100% {
      stroke-dasharray: 90, 150;
      /* 70%, 101% circumference */
      stroke-dashoffset: -124;
    }
  }

  /* -99% circumference */
  @-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      /* 1%, 101% circumference */
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      /* 70%, 101% circumference */
      stroke-dashoffset: -35;
    }
    /* 25% circumference */
    100% {
      stroke-dasharray: 90, 150;
      /* 70%, 101% circumference */
      stroke-dashoffset: -124;
    }
  }

  /* -99% circumference */
  .app-wrapper {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 600px) {
    body {
      overflow-x: auto;
    }
    .app-wrapper {
      width: 600px;
    }
  }
}

$loader-gap: 12px !default;
$loader-animation-duration: 1s !default;

.busy {
  display: inline-block;

  &.busy-xs {
    @include loader04(18px, $brand-primary, 1px, $loader-animation-duration);
  }

  &.busy-sm {
    @include loader04(32px, $brand-primary, 2px, $loader-animation-duration);
  }

  &.busy-md {
    @include loader04(48px, $brand-primary, 3px, $loader-animation-duration);
  }

  &.busy-lg {
    @include loader04(64px, $brand-primary, 3px, $loader-animation-duration);
  }
}

.btn-primary {
  .busy {
    border-color: $btn-primary-color;

    &:after {
      background-color: $btn-primary-color;;
    }
  }
}

.btn-default {
  .busy {
    border-color: $btn-default-color;

    &:after {
      background-color: $btn-default-color;;
    }
  }
}

.btn-success {
  .busy {
    border-color: $btn-success-color;

    &:after {
      background-color: $btn-success-color;;
    }
  }
}

.btn-danger {
  .busy {
    border-color: $btn-danger-color;

    &:after {
      background-color: $btn-danger-color;;
    }
  }
}

.btn-info {
  .busy {
    border-color: $btn-info-color;

    &:after {
      background-color: $btn-info-color;;
    }
  }
}
