.checkout-success-page {
  .icon-check {
    margin-top: $padding-large-vertical * 8;
    color: $brand-success;
    font-size: 120px;
  }

  .btn {
    margin-top: $padding-large-vertical * 4;
  }
}
