.page-footer {
  $footer-color: #39393b;

  padding: $padding-large-vertical;
  border-radius: 10px 10px 0 0;
  background-color: $footer-color;
  color: white;
  font-weight: 600;
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .info {
    margin-bottom: $padding-large-vertical ;

    .logo {
      margin-top: 10px;
      margin-bottom: $padding-large-vertical;
      width: 200px;
    }
    .fab {
      margin: 10px;
      color: white;
    }
    .description {
      margin-top: $padding-large-vertical;
    }

    address {
      b {
        color: white;
      }
    }
  }

  .contact-us {
    @include breakpoint(sm) {
      float: right;
      max-width: 320px;
    }

    .title {
      margin-top: 0;
      margin-bottom: $padding-large-vertical ;
      color: $light;
    }

    a {
      color: white;
      text-decoration: none;

      i {
        margin-right: 5px;
      }

      &:hover {
        color: #f1f1f1;
      }
    }
  }

  .company-info {
    text-align: right;
    h5 {
      color: white;
      font-weight: 600;
    }
    p {
      font-weight: 600;
      font-size: 12px;
    }
    span {
      font-weight: 100;
      font-size: 12px;
    }
    .mail {
      color: #0c3cf8;
    }
  }
  .copyright {
    margin-top: 40px;
    text-align: center;
    p {
      font-weight: 500;
      font-size: 16px;
    }
    span {
      font-weight: 100;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 600px) {
    .company-info {
      text-align: left;
    }
  }
}
