.page-footer {
  $footer-color: #2e3234;

  padding: $padding-large-vertical * 6 0;
  background-color: $footer-color;
  color: #747474;
  font-weight: 600;

  .info {
    margin-bottom: $padding-large-vertical * 2;

    .logo {
      margin-bottom: $padding-large-vertical * 2;
    }

    .description {
      margin-top: $padding-large-vertical * 2;
    }

    address {
      b {
        color: #b8b8b8;
      }
    }
  }

  .contact-us {
    @include breakpoint(sm) {
      float: right;
      max-width: 320px;
    }

    .title {
      margin-top: 0;
      margin-bottom: $padding-large-vertical * 2;
      color: $light;
    }

    a {
      color: #b8b8b8;
      text-decoration: none;

      i {
        margin-right: 5px;
      }

      &:hover {
        color: #f1f1f1;
      }
    }
  }

  .company-info {
    margin-top: $padding-large-vertical * 4;

    p {
      font-size: $font-size-small;
    }
  }

  .copyright {
    margin-top: $padding-large-vertical * 4;
    text-align: center;
  }
}
