.page {
  background-color: $body-bg;

  .page-container {
    padding-bottom: $padding-large-vertical * 8;

    .breadcrumbs {
      font-size: 12px;
      a {
        text-decoration: none;
      }
      .fas {
        color: $brand-primary;
        font-size: 10px;
      }
    }
  }

  .page-header {
    @include clearfix();

    margin: 0;
    margin-bottom: $padding-large-vertical * 4;
    padding-top: $padding-large-vertical * 4;
    padding-bottom: $padding-large-vertical * 4;
    border-bottom: 1px solid $border-color-base;
    background-color: transparent;

    .title {
      margin-top: 0;
      margin-bottom: $padding-large-vertical * 4;
      font-size: 28px;
      line-height: 1;

      b,
      strong {
        font-weight: 600;
      }

      * {
        font-size: 28px;
      }
    }

    .course-image {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .control-back {
      margin-bottom: $padding-large-vertical * 2;
      padding-top: 0;
    }
  }

  .page-title {
    @include breakpoint(sm) {
      margin: 50px 0;
      color: #39393b;
      text-decoration: underline #0c3cf8;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;

      text-underline-position: under;

      * {
        font-size: 28px;
      }
    }

    margin: 30px 0;
    font-size: 24px;

    * {
      font-size: 24px;
    }

    b,
    strong {
      font-weight: 600;
    }
  }

  .page-subtitle {
    @include breakpoint(sm) {
      margin-top: -50px;
      margin-bottom: 50px;
      font-size: $font-size-base;
    }

    margin-top: -30px;
    margin-bottom: 30px;
    color: $text-muted;
    font-size: $font-size-small;
  }
}

[data-is-bullet-footer] {
  @include breakpoint(sm) {
    display: block;
  }

  display: none;
}
