.lesson-page {
  background-color: $light;

  @import 'lesson/quiz';
  @import 'lesson/answers';
  @import 'lesson/student-doubts';
  @import 'lesson/notepad';
  @import 'lesson/timetags';
  @import 'lesson/scorm';

  .lesson-page-sidebar {
    .lesson-list-header {
      @include clearfix();
      @include transition(background-color .2s ease);

      &.scroll {
        @include breakpoint(sm) {
          position: static !important;
          top: auto !important;
          left: auto !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
          width: auto !important;
          height: auto !important;
          background-color: transparent !important;
        }

        right: 0 !important;
        left: 0 !important;
        padding-right: 15px;
        padding-left: 15px;
        width: 100% !important;
        border-bottom: 1px solid $border-color-base;
        background-color: $light;
      }

      .lesson-list-toggle {
        @include breakpoint(sm) {
          display: none;
        }

        float: left;
        padding: 20px 0;

        .btn {
          .icon-arrow-left {
            display: none;
          }

          &.active {
            .icon-arrow-left {
              display: inline-block;
            }
          }
        }
      }

      .control-back {
        @include breakpoint(sm) {
          float: left;
        }

        float: left;
      }
    }

    .lesson-list-panel {
      @include transition(.2s ease);
      @include box-shadow(none);
      @include breakpoint(sm) {
        @include box-shadow(0 2px 2px -2px rgba(0, 0, 0, .15));

        position: static;
        top: auto;
        right: auto;
        left: auto;
        border-right-width: 1px;
        border-left-width: 1px;
        border-radius: $panel-border-radius;
      }

      position: absolute;
      top: 80px;
      //left: -100%;
      z-index: 1000;
      max-width: 100%;
      width: 100%;
      border-right-width: 0;
      border-left-width: 0;
      border-radius: 0;

      &.active {
        left: 0;
      }
    }

    .title {
      @include breakpoint(sm) {
        font-size: $font-size-large;
      }

      margin: 0;
      color: #39393b;
      text-align: left;
      font-weight: bold;
      font-size: 20px;
      font-size: $font-size-base;
    }

    .course-progress {
      .progress-header {
        margin-bottom: $padding-large-vertical;

        .label {
          margin-right: 5px;
        }
      }
    }
    .other-lessons {
      margin-top: $padding-large-vertical * 4;
    }
    .sidebar-menu-lesson {
      width: 60%;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      .fa-bars {
        margin-top: 1vw;
        margin-bottom: 2vw;
        color: #39393b;
        font-size: 26px;
      }
    }
    @media screen and (max-width: $screen-md-min) {
      .sidebar-menu-lesson {
        width: 30%;
      }
    }
  }

  .media-controls {
    @include breakpoint(sm) {
      text-align: right;
    }

    text-align: right;
  }

  .lesson-description {
    margin-bottom: $padding-large-vertical * 4;
    color: #39393b;
  }

  .lesson-content-player {
    .lesson-content-player-heading {
      .media-controls {
        @include transition(.2s ease);

        padding-top: $padding-large-vertical * 2;
      }

      .lesson-title {
        @include breakpoint(sm) {
          color: #39393b;
          text-align: left;
          font-weight: bold;
          font-size: 20px;
        }

        margin: 0;
        padding: 30.5px 0;
        color: #39393b;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 1;
      }

      .scroll {
        .media-controls {
          margin-right: -10px;
          opacity: .7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .media-player {
      position: relative;
      margin-bottom: $padding-large-vertical * 4;

      .random-quiz-result {
        .label {
          display: inline-block;
          margin: 4px 0 8px;
          padding: 4px 8px;
          border: 1px solid $btn-info-color;
          border-radius: $border-radius-large;
          background-color: $btn-info-bg;
          color: $btn-info-color;
          font-size: $font-size-h6;
        }
      }

      .player {
        text-align: left;

        .text-player {
          float: none;
          margin: 0;
          padding: 0;
        }

        .html5-player,
        #vzaar-player-container {
          @extend .embed-responsive;
          @extend .embed-responsive-16by9;

          width: 100%;
          height: auto;
          border: 2px solid $border-color-base;
          border-radius: $border-radius-base;

          iframe {
            @extend .embed-responsive-item;

            width: 100%;
          }
        }

        #vimeo-player-container {
          min-height: 650px;
          width: 100%;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 85%;
            border: 0;
          }
        }
        #spark-videos-player-iframe {
          border: none;
        }
      }
    }
  }

  .lesson-tabs {
    margin-top: $padding-large-vertical * 4;
    width: 100%;

    .nav-tabs {
      border-bottom: none;
    }
  }

  .footer-navigation {
    @include breakpoint(sm) {
      display: none;
    }

    margin-top: $padding-large-vertical * 4;
    text-align: right;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -770px;
    z-index: 10000;
    float: initial;
    padding: 0;
    width: 30%;
    height: 100%;
    pointer-events: none;

    .items {
      position: relative;
      overflow: auto;
      height: 100%;
      border-radius: 5px;
      background-color: white;
      transition: .5s;
      pointer-events: all;
      .modulo {
        margin-left: 25px;
        color: #999;
        pointer-events: none;
      }
      .module-title {
        margin: 0 25px;
        width: 80%;
        color: white;
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        pointer-events: none;
      }
      .list-group-item {
        position: relative;
        border: none;
        border-left: 0;
        .content-title {
          position: absolute;
          top: 27%;
          left: 0;
          margin: 0 25px;
          width: 80%;
          color: white;
          text-align: left;
          font-weight: 100;
          font-size: 16px;
          pointer-events: none;
        }
        .content-div {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          height: 100%;
          background-color: white;

          justify-content: center;

          svg {
            margin-left: 25px;
            width: 210px;
            filter: invert(1);
            @media(max-width: 678px) {
              width: 140px !important;
            }
          }

          img {
            width: 150px;
          }
          .logo-img {
            margin-left: 20px;
          }
          .animated {
            margin-left: 20px;
            width: 160px;
          }
          .title {
            display: inline-block;
            margin-left: 25px;
            min-width: 300px;
            width: 80%;
            color: white;
            text-align: left;
            font-weight: 100;
            font-size: 20px;
          }
          .content-card-image {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .5s;

            object-fit: cover;
            object-position: top;
            &:hover {
              opacity: .5;
            }
            @media(max-width: 768px) {
              opacity: .1;
            }
          }
        }
      }
    }
    .open {
      position: fixed;
      top: 25px;
      left: 20px;
      color: white;
      cursor: pointer;
      pointer-events: all;
      i {
        font-size: 35px;
      }
    }
    .close {
      position: absolute;
      right: 20px;
      z-index: 1;
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
      pointer-events: all;
      @media(max-width: 768px) {
        display: none;
      }
      a {
        i {
          font-size: 25px;
          transition: .3s ease;
        }
      }
      &:hover {
        a {
          i {
            color: darken(white, 40%);
          }
        }
      }
    }
    .block {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 300vw;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      pointer-events: all;
    }
    @media(max-width: 768px) {
      width: 70%;
      .items {
        .list-group-item {
          .content-div {
            height: 100%;
            .title {
              min-width: auto;
              font-size: 16px;
            }
          }
          .content-title {
            top: 35%;
            font-weight: 500;
            font-size: 14px;
          }
          .modulo {
            color: white;
          }
        }
      }
    }
    @media(max-width: 992px) {
      width: 50%;
    }
    @media(max-width: 600px) {
      width: 65%;
    }
  }
  .items::-webkit-scrollbar {
    width: 8px;
  }

  .items::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #555;
  }

  .items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa;
  }

  .sidebar-animate {
    animation-name: sidebar-animate;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;

    animation-fill-mode: forwards;
  }

  @keyframes sidebar-animate {
    from {
      left: -590px;
    }
    to {
      left: 0;
    }
  }

  .sidebar-animate2 {
    animation-name: sidebar-animate2;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;

    animation-fill-mode: forwards;
  }

  @keyframes sidebar-animate2 {
    from {
      left: 0;
    }
    to {
      left: -590px;
    }
  }
}
