.lesson-page {
  background-color: $light;

  .lesson-page-sidebar {
    .lesson-sidebar-header {
      @include clearfix();

      .lesson-sidebar-toggle {
        float: left;
        padding: 20px 0;

        .btn {
          .icon-arrow-left {
            display: none;
          }

          &.active {
            .icon-arrow-left {
              display: inline-block;
            }
          }
        }
      }

      .control-back {
        float: right;
      }
    }

    .lesson-sidebar-panel {
      @include transition(.2s ease);
      @include breakpoint(sm) {
        border-radius: $panel-border-radius;
      }

      position: absolute;
      top: 80px;
      left: -100%;
      z-index: 1000;
      max-width: 320px;
      width: 100%;
      border-radius: 0;

      &.active {
        left: 0;
      }
    }

    .title {
      @include breakpoint(sm) {
        font-size: $font-size-large;
      }

      margin: 0;
      font-size: $font-size-base;
    }

    .course-progress {
      .progress-header {
        margin-bottom: $padding-large-vertical;

        .label {
          margin-right: 5px;
        }
      }
    }

    .other-lessons {
      margin-top: $padding-large-vertical * 6;
    }

    .course-content {
      .lesson {
        .content-lesson {
          .class-info {
            .left {
              float: left;
              width: 15%;
            }

            .center {
              float: left;
              width: 85%;
            }

            .right {
              float: left;
              padding-left: 15%;
              width: 100%;
              text-align: left;
            }

            .lesson-title {
              @include text-overflow;

              vertical-align: middle;

              &:hover {
                span {
                  position: absolute;
                  top: -1px;
                  z-index: 1000;
                  padding: 2px 10px 2px 0;
                  background-color: rgba($light, .9);
                }
              }
            }
          }
        }

        &.active {
          .content-lesson {
            .badge {
              background-color: lighten($badge-bg, 7%);
            }

            .class-info {
              .lesson-title {
                &:hover {
                  span {
                    z-index: 10000;
                    background-color: rgba($component-active-bg, .9);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .media-controls {
    @include breakpoint(sm) {
      text-align: right;
    }

    text-align: center;
  }

  .lesson-content-player {
    .lesson-content-player-heading {
      margin-bottom: $padding-large-vertical * 4;

      .media-controls {
        @include transition(.2s ease);

        padding-top: $padding-large-vertical * 2;
      }

      .lesson-title {
        margin-bottom: $padding-large-vertical;
        text-align: center;
        font-size: 22px;
        line-height: 1;
      }

      .scroll {
        .media-controls {
          margin-right: -10px;
          opacity: .7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .media-player {
      .player {
        text-align: left;

        .text-player {
          float: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .footer-navigation {
    @include breakpoint(sm) {
      display: none;
    }

    margin-top: $padding-large-vertical * 4;
    text-align: right;
  }
}

@import 'lesson/quiz';
@import 'lesson/collaborative_dicussion';
