<div class="deadpool-chat" data-jwt={{ jwt }} data-chat-room={{ chat_room }} id="chat-message-list">
  <div class="chat-message-list">
    <!-- Message items go here -->
  </div>

  <div class="chat-message-input">
    <div id="message">
    <small>Messagem</small>
      <form>
        <textarea rows="1" type="text" class="message-body" name="message-body" placeholder="Escreva algo aqui e mande no chat..."></textarea>
        <button type="button" class="btn btn-sm btn-link" name="submit-message">
          <i class="icon-emotsmile"></i>
        </button>
        <button type="submit" class="btn btn-primary btn-sm submit-message" name="submit-message">
          <i class="icon-paper-plane"></i>
        </button>
        <button type="button" class="btn btn-sm btn-link" name="options-message" disabled="disabled">
          <i class="icon-options-vertical"></i>
        </button>
      </form>
    </div>
  </div>
</div>
