<div class="deadpool-chat" data-jwt={{ jwt }} data-chat-room={{ chat_room }} >
  <div class="chat-message-list">
    {% include 'webinar/message-item' %}
    {% include 'webinar/message-item' %}
    {% include 'webinar/message-item' %}
    {% include 'webinar/message-item' %}
    {% include 'webinar/message-item' %}
    {% include 'webinar/message-item' %}
    {% include 'webinar/message-item' %}
    {% include 'webinar/message-item' %}
  </div>

  <div class="chat-message-input">
    <form name="message">
      <textarea type="text" class="message-body" name="body" placeholder="Type your message..."></textarea>
      <button type="submit" class="btn btn-primary btn-lg submit-message" name="submit-message">
        <i class="icon-paper-plane"></i>
      </button>
    </form>
  </div>
</div>
