<div class="row message-item">
  <div class="message-header">
    <div class="col-md-9">
      <h5>{{ message.user.name }}</h5>
    </div>
    <div class="col-md-3 message-timestamp">
      <span class="message-timestamp">{{ message.created_at }}</span>
    </div>
  </div>
  <div class="col-md-12 message-body">
    <p>{{ message.body }}</p>
  </div>
</div>
