.avatar {
  @include box-shadow(0 0 0 3px rgba(0, 0, 0, .15));
  @include transition(all .2s ease);
  @include translate(0, 0);

  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
  margin: 18px $padding-base-horizontal 18px 0;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: $light;

  .avatar-img,
  img {
    @include translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: auto;
    height: 100%;
    vertical-align: bottom;
  }
}
