.card-progress {
  .description {
    font-size: $font-size-small;
  }

  .progress-bar-component {
    position: relative;
    margin-bottom: $padding-large-vertical * 2;
    width: 100%;
    height: 42px;
    //border: 2px solid $brand-success;
    border-radius: $border-radius-base;
    background-color: $gray-lighter;

    .percent {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 36px;
    }
  }
}
