.category-page {
  .breadcrumb {
    margin-bottom: 0;
    padding: $breadcrumb-padding-vertical 0;
    background-color: transparent;
  }

  .category-title {
    margin-top: 0;
  }

  .subcategories-list {
    padding-left: 10px;
    list-style: none;
  }
}
