.course-page {
  .course-page-header {
    background-color: $light;

    .course-content {
      margin-top: $padding-large-vertical * 6;
    }

    .card-progress {
      margin-top: $padding-large-vertical * 4;
    }

    .last-lesson-link {
      margin-bottom: $padding-large-vertical * 2;
    }

    .course-image {
      width: 100%;

      img {
        width: 60%;
        height: auto;
      }
    }
  }

  .course-page-content {
    margin-top: $padding-large-vertical * 4;

    .tab-content {
      margin-top: $padding-large-vertical * 2;
    }
  }
}

@import 'course/lesson';
