.course-page {
  .course-page-header {
    background-color: $light;
    .title {
      margin-bottom: 0;
      color: #39393b;
      font-weight: bold;
      font-size: 18px;
    }
    .course-content {
      margin-top: $padding-large-vertical ;
    }

    .card-progress {
      margin-top: $padding-large-vertical ;
    }

    .last-lesson-link {
      margin-bottom: $padding-large-vertical;
    }

    .course-image {
      width: 100%;
      text-align: right;

      img {
        width: 90%;
        height: auto;
        border-radius: 5px;
      }
    }
    @media screen and (max-width: $screen-md-min) {
      .course-image {
        text-align: center;
      }
    }
  }

  .course-page-content {
    margin-top: $padding-large-vertical * 3;
    border-top: 1px solid #c4c4c4;
    .modules {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
    }
    .tab-content {
      margin-top: $padding-large-vertical;
    }
  }
}

@import 'course/lesson';
