.enrollments-page {
  .badges-list {
    .user-badge {
      padding: 0;

      .image {
        width: 100%;
      }

      .title {
        @include breakpoint(sm) {
          height: 65px;
        }

        display: block;
        margin-top: $padding-large-vertical;
        margin-bottom: $padding-large-vertical;
        color: $text-color;
        text-decoration: none;
        font-size: 20px;
      }

      .subtitle {
        height: 40px;
        color: $text-muted;
      }
    }
  }
}

@import 'enrollments/courses-list';
