.login-page {
  .container {
    max-width: 410px;
  }

  .form-group,
  .btn {
    margin-right: auto;
    margin-left: auto;
    max-width: 380px;
  }

  .title {
    margin-top: $padding-large-vertical * 8;
    color: #39393b;
    text-align: center;
    //text-decoration: underline #0c3cf8;
    text-transform: uppercase;
    font-size: 20px;

    text-underline-position: under;
  }

  .forgot {
    text-align: center;
  }

  .register {
    text-align: center;
    text-decoration: none !important;
  }

  .js-recaptcha {
    display: flex;
    margin-top: 25px;

    justify-content: center;
  }
  .brand {
    margin-top: 5vw;
    width: 12vw;
  }
  .create {
    font-weight: 800;
  }
  .title-login {
    color: #39393b;
    text-decoration: underline #0c3cf8;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
  }
}
