.login-page {
  .container {
    max-width: 410px;
  }

  .form-group,
  .btn {
    margin-right: auto;
    margin-left: auto;
    max-width: 380px;
  }

  .title {
    margin-top: $padding-large-vertical * 8;
  }

  .forgot {
    display: block;
    margin: $padding-large-vertical * 2 0;
    text-align: right;
  }

  .register {
    text-align: center;
  }

  .js-recaptcha {
    display: flex;
    margin-top: 25px;

    justify-content: center;
  }
  .brand {
    margin-top: 5vw;
    width: 12vw;
  }
  .create {
    font-weight: 800;
  }
  .title-login {
    border-bottom: 4px solid #0c3cf8;
    font-weight: 600;
    font-size: 26px;
  }
}
