.product-page {
  .navbar {
    border-bottom: none;
  }

  .product-header {
    margin-bottom: $padding-large-vertical * 4;
    padding: $padding-large-vertical * 4 0;
    padding-bottom: $padding-large-vertical * 8;

    .title {
      margin-bottom: $padding-large-vertical;
      color: #39393b;
      text-decoration: underline #0c3cf8;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2vw;
    }

    .subtitle {
      margin-bottom: $padding-large-vertical * 4;
    }

    .image {
      margin-bottom: $padding-large-vertical * 2;
      text-align: right;

      img {
        display: inline-block;
        width: 100%;
        height: auto;
      }
    }

    .product-info {
      padding-bottom: $padding-large-horizontal * 2;
      text-align: left;

      .checklist {
        margin-top: $padding-large-vertical * 4;
        padding: 0;

        .check {
          margin: 0;
          padding: $padding-large-vertical 0;
          list-style: none;
          text-align: left;
          font-size: 18px;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .enroll {
    .price {
      margin-bottom: $padding-large-vertical;
      font-weight: 600;
      font-size: 36px;
    }
  }

  .product-teachers {
    .teachers-list {
      .teacher-item {
        margin-bottom: $padding-large-vertical * 4;
        padding: 0 $padding-large-horizontal;

        .description {
          margin-top: $padding-large-vertical * 2;
        }
      }
    }
    .photo-teacher {
      margin-top: 1.1vw;
      width: 220px;
      border-radius: 5px;
    }
    .title-teacher {
      font-weight: bold;
    }
  }

  .product-content {
    margin-top: $padding-large-vertical * 8;
    margin-bottom: $padding-large-vertical * 8;

    .title {
      margin-top: 0;
      margin-bottom: $padding-large-vertical * 4;
      line-height: 1;
    }
  }

  .jumbotron {
    background-color: $light;

    h2 {
      margin: 0;
    }
  }

  .general-rating {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    h4,
    .points {
      display: inline-block;
      margin: 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      line-height: 1;
    }

    h4 {
      margin-top: 15px;
      color: $gray-light;
      font-size: 24px;
    }

    .points {
      margin: 15px 0;
    }
  }

  .rating-student {
    .student-name {
      margin: 5px 0 0 0;
      font-weight: bold;
      font-size: 20px;
      line-height: 1;
    }

    .student-avatar {
      width: 50px;
      height: 50px;
    }

    .student-profile {
      margin: 0;
      color: $text-color;
    }

    .student-points {
      margin-top: 5px;
    }

    .student-note {
      margin-top: 20px;
    }
  }
  .banner-product-detail {
    width: 100%;
  }
}

@import 'product/list';
@import 'product/path-content';
@import 'product/course-content';
