.register-page {
  margin-bottom: $padding-large-vertical * 12;

  .container {
    max-width: 640px;
  }

  .form-group,
  .btn {
    margin-right: auto;
    margin-left: auto;
    max-width: 380px;
  }

  .title {
    margin-top: $padding-large-vertical * 8;
    color: #39393b;
    text-align: center;
    text-decoration: underline #0c3cf8;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;

    text-underline-position: under;
  }

  .forgot {
    display: block;
    margin: $padding-large-vertical * 2 0;
    text-align: right;
  }

  .js-recaptcha {
    display: flex;
    margin-bottom: 15px;

    justify-content: center;
  }
}
