@import 'webinar/player';
@import 'webinar/chat';

.webinar-page {
  background-color: #f4f4f4;
  .webinar-container {
    margin: 0 5rem;
    padding-bottom: 5rem;
    .info {
      margin: 5rem 0;
      .title {
        color: #262626;
        font-weight: bold;
        font-size: 24px;
        font-family: Muli;
      }
      .info-date {
        color: #262626;
        font-size: 16px;
        font-family: 'Muli Light';
      }
    }
  }
}
