<div id="js-chat-page" class="chat-page" data-api-key='{{ current_api_key.credentials }}'>
  <div class="container">
    {% include 'chat-widget', size: 'lg', height: '80%' %}
    {% include 'chat-widget', size: 'sm' %}
  </div>
</div>
