<div class="chat-page">
  <div class="chat chat-lg">
    {% include 'chat/templates' %}

    <div class="container">
      <div class="chat-wrapper js-chat">
        {% include 'chat/sidebar' %}
        {% include 'chat/messages' %}
      </div>
    </div>
  </div>
</div>
