<div id="js-chat-page" class="chat-page" data-api-key='{{ current_api_key.credentials }}' data-user-id="{{ current_api_key.owner_id }}">
  <div class="container">
    {% include 'chat-widget', size: 'lg', height: '80%' %}
  </div>
</div>
