<div class="home-page page">
  {% include 'home/carousel', home_sliders: settings.home.slider.sliders %}
  {% include 'home/benefits' %}

  <div class="home-about-us" id="about-us">
    <div class="container">
      <div class="row row-home">
        <div class="col-md-5 col-sm-12">
          <h2  class="title">{{ settings.view.home.product_list_title }}</h2>
          <p>
            {{ settings.view.home.product_list_content }}
          </p>
        </div>
        <div class="col-md-7 col-sm-12 video-home">
          <div id="CarouselVideo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
          <div class="video-carousel">
            <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active text-center">
                  <iframe src="https://www.youtube.com/embed/edMoM9Qtzfk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="featured-course">
    <div class="container">
      <h2 class=" title title-seccao">Cursos em destaque </h2>
      {% include 'product/list-product-home', products: products, gateway: gateway %}
    </div>
  </div>
  <div class="home-testimonial">
    {% include 'home/home-testimonials', home_testimonials: settings.home.home_testimonials %}
    </div>
  </div>
{% include 'newsletter' %}
 </div>
