<div class="home-page page">
  {% include 'home/header' %}
  {% include 'home/benefits' %}

  <div class="home-about-us" id="about-us">
    <div class="container">
      <div class="row row-home">
        <div class="col-md-5 col-sm-12">
          <h2  class="title">{{ settings.view.home.product_list_title }}</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ut elit sit amet ornare. Pellentesque elit elit, pharetra a dui eu, dictum aliquet eros. Maecenas a tristique est. Nullam mattis commodo elit, quis suscipit nunc rhoncus non. Cras nec lorem justo. Morbi efficitur lobortis diam et laoreet. Maecenas porttitor nec tortor eu congue. Proin faucibus blandit nisi, eget sollicitudin nisi iaculis in.
          </p>
              <p><i class="far fa-check-circle"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ut elit sit amet ornare.</p>
              <p><i class="far fa-check-circle"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ut elit sit amet ornare.</p>
              <p><i class="far fa-check-circle"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ut elit sit amet ornare.</p>
        </div>
        <div class="col-md-7 col-sm-12 video-home">
          <div id="CarouselVideo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators indicators-video">
              <li data-target="#CarouselVideo" data-slide-to="0" class="active"></li>
              <li data-target="#CarouselVideo" data-slide-to="1"></li>
              <li data-target="#CarouselVideo" data-slide-to="2"></li>
            </ol>
          <div class="video-carousel">
                       <!-- Wrapper for slides -->
                       <div class="carousel-inner">
                        <div class="item active text-center">
                          <iframe src="https://www.youtube.com/embed/2_b5RuMWKB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item text-center">
                          <iframe  src="https://www.youtube.com/embed/2_b5RuMWKB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item text-center">
                          <iframe src="https://www.youtube.com/embed/2_b5RuMWKB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="featured-course">
    <div class="container">
      <h2 class=" title title-seccao">Cursos em destaque </h2>
      {% include 'product/list-product-home', products: products, gateway: gateway %}
    </div>
  </div>
<div class="home-testimonial">
  <div class="container">
    <h2 class="title title-seccao">Depoimentos</h2>
    <div class="row row-depoimento">
      <div id="CarouselDepoimentos" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators indicators-testimonial">
          <li data-target="#CarouselDepoimentos" data-slide-to="0" class="active"></li>
          <li data-target="#CarouselDepoimentos" data-slide-to="1"></li>
          <li data-target="#CarouselDepoimentos" data-slide-to="2"></li>
        </ol>
      <div class="row">
                   <!-- Wrapper for slides -->
                   <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-6 col-md-4 text-center">
        <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2Fa902afb3744fc9549c8ed446f164bd2d%2Fuser+1.png" alt="">
        <ul class="list-inline">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <p class="testimonial-name">Lorem Ipsum</p>
        <p class="testimonial-description">Lorem ipsum dolor sit amet</p>
        <p class="testimonial-text text-justify">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ut elit sit amet"</p>
      </div>  
      <div class="col-sm-6 col-md-4 text-center">
        <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2Fa902afb3744fc9549c8ed446f164bd2d%2Fuser+1.png" alt="">
        <ul class="list-inline">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <p class="testimonial-name">Lorem Ipsum</p>
        <p class="testimonial-description">Lorem ipsum dolor sit amet</p>
        <p class="testimonial-text text-justify">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ut elit sit amet"</p>
      </div> 
      <div class="col-sm-6 col-md-4 text-center">
        <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2Fa902afb3744fc9549c8ed446f164bd2d%2Fuser+1.png" alt="">
        <ul class="list-inline">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <p class="testimonial-name">Lorem Ipsum</p>
        <p class="testimonial-description">Lorem ipsum dolor sit amet</p>
        <p class="testimonial-text text-justify">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ut elit sit amet"</p>
      </div> 
     </div>
    </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="home-newsletter">
  <div class="container newsletter">
    <div class="row newsletter-text">
      <div class="col-md-1 col-sm-2 text-center">
        <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2F48001b53a204ec55ba45656ba4d27706%2FGroup+137.png" alt="">
      </div>
      <div class="col-md-11 col-sm-10 newsletter-text">
        <p>Quero receber conteúdos sobre <strong>cursos, treinamentos e oportunidades</strong> para a minha vida profissional e pessoal.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="form-group">
          <input type="nome" class="form-control input"
                 placeholder="Nome" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="email" class="form-control input"
                 placeholder="E-mail" required>
        </div>
      </div>
      <div class="col-md-4">
        <a type="button" class="btn btn-more" href="#">
          Cadastre-se grátis
      </a>
      </div>
    </div>
  </div>
</div>
 </div>
