<script src='https://8x8.vc/vpaas-magic-cookie-da3ada7f6cd84f1a92ed606dbb5b6fed/external_api.js' async></script>
<script type="text/javascript">
  window.onload = () => {
    const api = new JitsiMeetExternalAPI("8x8.vc", {
      parentNode: document.querySelector('#jaas-container'),
      lang: 'ptBR',
      roomName: "{{ jitsi_room }}",
      jwt: "{{ jitsi_jwt }}"
    });
  }
</script>

<div class="lesson-page page">
  <div class="meet-room-page">
    <div class="container page-container">
      <div class="row">
        <div class="col-md-12 jitsi-iframe" >
          <div id="jaas-container" class="jitsi-iframe-container" />
        </div>
      </div>
    </div>
  </div>
</div>
