<div class="product-page page">
  <div class="product-header">
    <div class="text-center col-md-12 col-lg-12">
      {% if product.description %}
      <article class="product-description">
        {{ product.description }}
      </article>
    {% endif %}
    {% include 'product/buy' %}
    </div>
    <div class="container page-container">
      <div class="row text-justify">
        {% include 'product/product-topics' %}
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2 class="title">Conteúdo do Curso</h2>
          {% include 'product/content-course', lesson_actions: false %}
        </div>
        <div class="col-md-6">         
          {% include 'product/teachers' %}
        </div>
        <div class="text-center">
          {% include 'product/buy' %}
        </div>
    </div>
    <div class="row">
      <h2 class="title">Aprenda Mais</h2>
 
        {% include 'product/list' %}

    </div> 
    </div>
  </div>
</div>

         