<div class="products-page page">

  <div class="container">
    <h2>{{ 'products.products' | t }}</h2>

    <form accept-charset="UTF-8" method="get" action="/products" data-turbolinks-scroll="false">
      <div class="input-group input-group-lg">
        <span class="input-group-addon no-background"><i class="icon-magnifier"></i></span>
        <input type="text" name="title" class="form-control" placeholder="{{ 'forums.filter_by_title' | t }}"
               value="{{ current_search.title }}">
        <span class="input-group-btn">
                <input type="submit" value="{{ 'general.search' | t }}" class="btn btn-default">
              </span>
      </div>
    </form>

    <br>
  </div>

  {% include 'product/list', products: products, gateway: gateway %}

</div>
