<link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">

<div class="webinar-page webinar">
  <div class="container-fluid webinar-container">
    <div class="row">
      <div class="info">
        <div class="title">{{ webinar.title }}</div>
        <div class="info-date">{{ 'webinar.info_started' | t: datetime: webinar.start_at }}</div>
        <div class="info-date">{{ 'webinar.info_not_started' | t: datetime: webinar.start_at }}</div>
      </div>

      {% if webinar.is_ready == true %}
        <div id="webinar" class="webinar-player-wrapper col-md-8">
          {% media_player media: webinar %}
        </div>

        <div class="webinar-chat-wrapper col-md-4">
          {% include 'webinar/chat', jwt: lead_jwt, chat_room: webinar.host_key, start_at: webinar.start_at %}
        </div>
      {% else %}
        <div class="webinar-player-wrapper-off col-md-12">
          {% media_player media: webinar %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{{ stage.page_capture_js }}
