<div class="welcome-page page">
  <div class="container page-container">
    <div class="welcome-page-content">
      <div class="row welcome-container">
        <div class="col-md-12">
          <div class="row">
            <div class="text-control">
              {{ welcome_config.text }}
            </div>
          </div>

          <div class="row">
            <div class="media-control">
              {% if welcome_config.video %}
                {% media_player media: welcome_config.video %}
              {% elsif welcome_config.image %}
                {% image, src: welcome_config.image.s3_file_url, alt: product.title %}
              {% elsif product.video_cover %}
                {% media_player media: product.video_cover %}
              {% elsif product.logo %}
                {% image, src: product.logo, alt: product.title %}
              {% else %}
                {% assign placeholder = 'missing-product-logo.png' | asset_url %}
                {% image, src: placeholder, alt: product.title %}
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="button-control">
              {% if product.library_resource.resource_type == 'Course' %}
                {% assign go_path = enrollment | course_path: product.library_resource.resource_id %}
              {% elsif product.library_resource.resource_type == 'Path' and product.path.progress_requirements != nil %}
                {% assign go_path = enrollment.id | path_path: product.library_resource.resource_id %}
              {% elsif product.library_resource.resource_type == 'Path' %}
                {% assign go_path = enrollment.id | path_path: product.library_resource.resource_id %}
              {% endif %}

              <a class="btn btn-default" href="{{ go_path }}">
                <span>{{ 'welcome_screen.go' | t }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>