<div class="home-categories">
  {% assign all_categories = current_school | get_categories %}
  {% assign config_categories = settings.view.home.categories | sort: 'order' %}
  {% for c in config_categories %}
    {% assign current_category = nil %}
    {% for category in all_categories %}
      {% if category.slug == c.slug %}
        {% assign current_category = category %}
      {% endif %}
    {% endfor %}

    {% assign category_products = current_school | get_products_by_category_slug: c.slug, 6 %}

    <div class="home-category">
      <div class="container">
        <h3>{{ current_category.title }}</h3>
      </div>

      <div class="category-products">
        {% include 'product/list', products: category_products, gateway: gateway %}
      </div>

      <div class="container">
        <div class="category-actions text-center">
          <a href="/categories/{{ c.slug }}" class="btn btn-default">{{ 'general.see_all' | t }}</a>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
