{% if product.class_teachers.size > 0 %}
  <section class="product-teachers panel panel-default">
      <h2 class="title">{{ 'product.teachers.about' | t }}</h2>
    <div class="row">
      <div class="teachers-list">
        {% for teacher in product.class_teachers %}
      <div class="col-md-5">
  
          {% if teacher.photo_url %}
            {% image, src: teacher.photo_url, alt: teacher.full_name class: 'photo-teacher' %}
          {% else %}
            {% assign placeholder = 'default-placeholder.png' | asset_url %}
            {% image, src: placeholder, alt: product.title %}
          {% endif %}

      </div>
      <div class="col-md-7">
        <h4 class="title-teacher">{{ teacher.full_name }}</h4>
        <p class="text-justify">{{ teacher.about }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  </section>
{% endif %}
