.chat-group-list-item {
  line-height: 1.4;

  .name {
    @include ellipsis();

    max-width: 200px;
    font-size: 14px;
  }

  .users-count {
    color: lighten($chat-sidebar-bg, 45%);
    font-size: 12px;
  }

  &.chat-group-school {
    .name {
      font-weight: bold;
    }
  }
}
