.chat-sidebar {
  padding: $padding-large-vertical * 2.5 0;
  min-height: 100%;
  width: $chat-sidebar-width;
  height: 100%;
  background-color: $chat-sidebar-bg;
  color: $light;

  .sidebar-header {
    .profile-list-item {
      padding-top: 0;
      padding-bottom: 0;
      cursor: default;

      &:hover {
        background-color: transparent;
      }

      .name {
        font-size: 18px;
      }
    }
  }

  .separator {
    margin-right: $padding-large-horizontal * 1.2;
    margin-left: $padding-large-horizontal * 1.2;
    padding: 15px 0;
    border-bottom: 1px solid darken($chat-sidebar-bg, 5%);
    font-size: 17px;
    line-height: 1;

    .btn {
      float: right;
      padding: 4px 5px;
      border-color: lighten($chat-sidebar-bg, 25%);
      color: lighten($chat-sidebar-bg, 50%);
      font-size: 12px;
      line-height: 1;

      &:hover,
      &:focus {
        border-color: lighten($chat-sidebar-bg, 10%);
        background-color: lighten($chat-sidebar-bg, 10%);
        color: $light;
      }
    }
  }

  .sidebar-blocks {
    .groups-block {
      .viewport {
        height: 165px;
      }
    }

    .students-block {
      .viewport {
        height: 185px;
      }
    }

    .team-block {
      .viewport {
        height: 120px;
      }
    }
  }
}
